In [51]:
import yfinance as yf
import pandas as pd
import streamlit as st
from PIL import Image
from urllib.request import urlopen

In [52]:
#titles

st.title("Crypto Currency Daily Prices")
st.header("Main Dashboard")
st.subheader("you can add more crypto in code")

Bitcoin = 'BTC-USD'
Ethereum = 'ETH-USD'
Ripple = 'XRP-USD'
Bitcoincash = 'BCH-USD'
Cardano = 'ADA-USD'

In [105]:
#access to Data
BTC_Data =  yf.Ticker(Bitcoin)
ETH_Data =  yf.Ticker(Ethereum)
XRP_Data =  yf.Ticker(Ripple)
BCH_Data =  yf.Ticker(Bitcoincash)
ADA_Data = yf.Ticker(Cardano)
msft = yf.Ticker("MSFT")

In [152]:
ada_info()

TypeError: 'dict' object is not callable

In [163]:
# get stock info
btc_info = BTC_Data.info
eth_info = ETH_Data.info
xrp_info = XRP_Data.info
bch_info = BCH_Data.info
ada_info = ADA_Data.info



btc_info.keys()
eth_info.keys()
xrp_info.keys()
bch_info.keys()
ada_info.keys()

dict_keys(['companyOfficers', 'twitter', 'name', 'startDate', 'description', 'maxAge', 'exchange', 'shortName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'totalAssets', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'yield', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'regularMarketDayLow', 'priceHint', 'currency', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'priceToSalesTrailing12Months', 'dayLow', 'ask', 'ytdReturn', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'forwardPE', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [169]:
eth_ear = ETH_Data.earnings

eth_ear['Open']

Series([], Name: Open, dtype: float64)

In [159]:
btc_info.keys()

dict_keys(['companyOfficers', 'name', 'startDate', 'description', 'maxAge', 'exchange', 'shortName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'totalAssets', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'yield', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'regularMarketDayLow', 'priceHint', 'currency', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'priceToSalesTrailing12Months', 'dayLow', 'ask', 'ytdReturn', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'forwardPE', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [162]:
btc_info['description']

'Bitcoin (BTC) is a cryptocurrency . Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 19,217,006. The last known price of Bitcoin is 16,655.87302924 USD and is up 0.67 over the last 24 hours. It is currently trading on 9860 active market(s) with $19,063,260,039.21 traded over the last 24 hours. More information can be found at https://bitcoin.org/.'

In [151]:
BTC = yf.download(Bitcoin, period="max", interval="1d")
ETH = yf.download(Ethereum, period="max", interval="1d")
XRP = yf.download(Ripple, period="max", interval="1d")
BCH = yf.download(Bitcoincash, period="max", interval="1d")
ADA = yf.download(Cardano, period="max", interval="1d")

BTC
ETH
XRP
BCH
ADA

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-11-22,15782.300781,16253.047852,15656.606445,16189.769531,16189.769531,30726828760
2022-11-23,16195.588867,16638.193359,16170.502930,16610.707031,16610.707031,32958875628
2022-11-24,16611.636719,16771.474609,16501.767578,16604.464844,16604.464844,26129037414
2022-11-25,16602.269531,16603.316406,16388.404297,16521.841797,16521.841797,18678255976
2022-11-28,16453.708984,16481.638672,16453.708984,16474.912109,16474.912109,21076047872

In [ ]:
# get historical market data

btc_hist = BTC_Data.history(period="max")
eth_hist = ETH_Data.history(period="max")
xrp_hist = XRP_Data.history(period="max")
bch_hist = BCH_Data.history(period="max")
ada_hist = ADA_Data.history(period="max")


btc_hist
eth_hist
xrp_hist
bch_hist
ada_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09 00:00:00+00:00,0.025160,0.035060,0.025006,0.032053,18716200,0,0
2017-11-10 00:00:00+00:00,0.032219,0.033348,0.026451,0.027119,6766780,0,0

In [133]:
# Stock - dividends

st.write("# Stock - dividends")
btc_sus = msft.sustainability

btc_sus

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.39
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              105
governanceScore                       5.33
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             15.24
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           10.73
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.53
governancePercentile                  None
militaryContract                     False

In [124]:
# Stock - financials

st.write("# Stock - financials")
btc_financials = BTC_Data.financials
eth_financials = ETH_Data.financials
xrp_financials = XRP_Data.financials
bch_financials = BCH_Data.financials
ada_financials = ADA_Data.financials

btc_financials
eth_financials
xrp_financials
bch_financials
ada_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [158]:
ADA.info.keys()

AttributeError: 'function' object has no attribute 'keys'

In [139]:
btc_suss = BTC_Data.sustainability

btc_suss

In [150]:
ADA = yf.download(Cardano, start="2000-11-20", end="today", period="1d")

ADA.head()

Exception in thread Thread-82:
Traceback (most recent call last):
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/threading.py", line 980, in _bootstrap_inner
    self.run()
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/threading.py", line 917, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/site-packages/multitasking/__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/site-packages/yfinance/multi.py", line 199, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/site-packages/yfinance/multi.py", line 213, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/site-packages/yfinance/base.py", line 168, in history
    end = utils._parse_user_dt(end, tz)
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/site-packages/yfinance/utils.py", line 152, in _parse_user_dt
    dt = _datetime.datetime.strptime(str(dt), '%Y-%m-%d')
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/_strptime.py", line 568, in _strptime_datetime
    tt, fraction, gmtoff_fraction = _strptime(data_string, format)
  File "/Users/marcleipold/opt/anaconda3/lib/python3.9/_strptime.py", line 349, in _strptime
    raise ValueError("time data %r does not match format %r" %
ValueError: time data 'today' does not match format '%Y-%m-%d'

KeyboardInterrupt:

In [138]:
st.write("# Stock - major_holders")

ada_major_holders = ADA_Data.major_holders


ada_major_holders

                0                    1
0  Previous Close             0.312900
1            Open             0.312900
2     Day's Range  0.312900 - 0.313291
3   52 Week Range  0.297288 - 1.756863
4      Start Date           2017-10-01
5       Algorithm                  NaN

In [102]:







# show actions (dividends, splits)
msft_actions = msft.actions

msft_actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show all earnings dates
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

ImportError: html5lib not found, please install it

In [106]:
BTC_Data

yfinance.Ticker object <BTC-USD>

In [107]:
BTCHis = BTC_Data.history(period="max")
ETHHis = ETH_Data.history(period="max")
XRPHis = XRP_Data.history(period="max")
BCHHis = BCH_Data.history(period="max")
ADAHis = ADA_Data.history(period="max")

In [108]:
BTCHis.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0,0

In [ ]:
BTC = yf.download(Bitcoin, period="max")
ETH = yf.download(Ethereum, period="max")
XRP = yf.download(Ripple, period="max")
BCH = yf.download(Bitcoincash, period="max")
ADA = yf.download(Cardano, period="max")

In [ ]:
BTC.head()

In [ ]:
st.write("BITCOIN ($)")
imageBTC = Image.open(urlopen('https://s2.coinmarketcap.com/static/img/coins/64x64/1.png'))

# Display Image

st.image(imageBTC)
  
# Display dataframe
 
st.table(BTC)
 
st.bar_chart(BTCHis.Close)

In [110]:
BTC_info = BTC_Data.info

BTC_info

{'companyOfficers': [],
 'name': 'Bitcoin',
 'startDate': 1367107200,
 'description': 'Bitcoin (BTC) is a cryptocurrency . Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 19,217,006. The last known price of Bitcoin is 16,655.87302924 USD and is up 0.67 over the last 24 hours. It is currently trading on 9860 active market(s) with $19,063,260,039.21 traded over the last 24 hours. More information can be found at https://bitcoin.org/.',
 'maxAge': 1,
 'exchange': 'CCC',
 'shortName': 'Bitcoin USD',
 'exchangeTimezoneName': 'UTC',
 'exchangeTimezoneShortName': 'UTC',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '0',
 'quoteType': 'CRYPTOCURRENCY',
 'symbol': 'BTC-USD',
 'messageBoardId': 'finmb_BTC_CCC',
 'market': 'ccc_market',
 'previousClose': 16461.588,
 'regularMarketOpen': 16461.588,
 'twoHundredDayAverage': 21985.719,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': 19551834112,
 'regularMarketDayHigh': 16579.225,
 'navPrice': None,
 'averageDailyVolume10Day': 27199873106,
 'totalAssets': None,
 'regularMarketPreviousClose': 16461.588,
 'fiftyDayAverage': 18720.363,
 'trailingAnnualDividendRate': None,
 'open': 16461.588,
 'toCurrency': 'USD=X',
 'averageVolume10days': 27199873106,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': 19218436,
 'regularMarketDayLow': 16459.154,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 19551834112,
 'lastMarket': 'CoinMarketCap',
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 318320377856,
 'volumeAllCurrencies': 19551834112,
 'strikePrice': None,
 'averageVolume': 36790314308,
 'priceToSalesTrailing12Months': None,
 'dayLow': 16459.154,
 'ask': None,
 'ytdReturn': None,
 'askSize': None,
 'volume': 19551834112,
 'fiftyTwoWeekHigh': 59113.402,
 'forwardPE': None,
 'fromCurrency': 'BTC',
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 15599.047,
 'bid': None,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': None,
 'dayHigh': 16579.225,
 'coinMarketCapLink': 'https://coinmarketcap.com/currencies/bitcoin',
 'regularMarketPrice': 16563.281,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/Bitcoin.com',
 'trailingPegRatio': None}

In [ ]:
BTCHis